// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2021, Konrad Dybcio <konrad.dybcio@somainline.org>
 */

/dts-v1/;

#include "sm8350-oneplus-lemonade.dtsi"

/ {
	model = "OnePlus 9 Pro";
	compatible = "oneplus,lemonade", "qcom,sm8350";
};
